{% extends 'base.html' %}

{% load django_markdown %}
{% load comments %}
{% load staticfiles %}

{% block title %}
  <title>Fix My Django - {{ errorpost.exception_type }}</title>
{% endblock title %}

{% block extra_css %}
<!-- Social Share Kit CSS -->
<link rel="stylesheet" href="{% static 'vendors/social-share-kit/css/social-share-kit.css' %}" type="text/css">
{% endblock extra_css %}

{% block content %}
<!-- Load the necessary styles for the markdown editor (Comment field) -->
{% markdown_media %}
<div class='row error-post-detail-row'>
  <div class='col-md-12'>
    <h1 class="h2 text-danger">{{ errorpost.exception_type }} <span class="small">{{ errorpost.error_message }}</span></h1>
    <div class="h3 raised-by-wrapper">
      Raised by: <h2 class="h3"><code>{{ errorpost.raised_by }}</code> (line {{ errorpost.raised_by_line }})</h2>
      <button class="btn btn-default btn-xs" role="button" data-toggle="collapse" href="#full-traceback" aria-expanded="false" aria-controls="full-traceback">
        Show/Hide full traceback
      </button>
    </div>
    <pre id="full-traceback" class="collapse"><code>{{ errorpost.sanitized_traceback }}</code></pre>
    <div class="ssk-group ssk-rounded share-buttons" data-url="http://fixmydjango.com/exceptions/{{errorpost.slug}}" data-text="Hey, check this error:">
      <a href="" class="ssk ssk-facebook ssk-sm"></a>
      <a href="" class="ssk ssk-twitter ssk-sm"></a>
    </div>
  </div>
  {% if errorpost.how_to_reproduce %}
    <div class='col-md-12'>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">How to reproduce</h3>
        </div>
        <div class="panel-body">
          {{ errorpost.how_to_reproduce|markdown }}
        </div>
      </div>
    </div>
  {% endif %}
  {% with answers=errorpost.answers.all %}
    {% if answers %}
      <div class='col-md-12'>
        <div class="panel panel-success">
          <div class="panel-heading">
            <h2 class="panel-title">How to fix</h2>
          </div>
          <div class="panel-body">
            {% for answer in answers %}
              {{ answer.message|markdown }}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endwith %}

  {% get_comment_list for object as comment_list %}
  {% if comment_list %}
    <div class="col-md-12">
      {% render_comment_list for object %}
    </div>
  {% endif %}

  {% if user.is_authenticated %}
    <div class="col-md-12">
      {% render_comment_form for object %}
    </div>
  {% endif %}
</div>

{% block js %}
<!-- Social Share Kit JS -->
<script type="text/javascript" src="{% static 'vendors/social-share-kit/js/social-share-kit.js' %}"></script>
<script type="text/javascript">
  SocialShareKit.init({
    twitter: {
      via: null
    }
  });
</script>
{% endblock js %}
{% endblock content %}
