{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
  <title>Fix My Django - How it works</title>
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="panel" >
      <div class="panel-create panel-heading">What is this?</div>
      <div class="panel-body">
      Fix My Django is a tool for helping Django developers to find solutions for common Django exceptions. While developing a Django project, if you get any exception in development server and fixmydjango.com has a solution for it will provide a link to the solution of error. This way you wont need to waste your time searching for exceptions on Google or Stack Overflow, just install <a href="https://github.com/vintasoftware/fixmydjango-lib" target="_blank">the lib</a> and be happy!
      </div>
    </div>
    <div class="panel">
      <div class="panel-create panel-heading">The lib</div>
      <div class="panel-body">
      Although you can manually search on this website for errors, to make the most of Fix My Django you should install the <a href="https://github.com/vintasoftware/fixmydjango-lib">django lib</a> in your project. If you set it properlly, whenever an exception is thrown in your project, it will look for similar errors and provide a link to show you how to fix it.
      </div>
    </div>
    <div class="panel">
      <div class="panel-create panel-heading">Privacy</div>
      <div class="panel-body">
      Fix My Django only looks for solutions to exceptions thrown from inside Django source-code and doesn't use the exception message to search for similar ones. The lib is 100% open source and anyone can take a look in the source code, the repo is available on <a href="https://github.com/vintasoftware/fixmydjango-lib">Github</a>. This website and the API used by the lib are also an <a href="https://github.com/vintasoftware/fixmydjango">open-source project</a>.
      </div>
    </div>
  </div>
{% endblock content %}
