*.pyc
.DS_Store
.sass-cache
*.sqlite3
/.coverage
/.env
/venv
/components/
/coverage_html/
/staticfiles/
/media/
/tmp_email/
.python-version
.cache/*
/fix_my_django/settings/local.py
/node_modules/
fix.sublime-project
fix.sublime-workspace