{% extends 'base.html' %}

{% load django_markdown %}

{% block title %}
  <title>Fix My Django - {{ errorpost.exception_type }}</title>
{% endblock title %}

{% block metatags %}
{% for name, content in metatags.items %}
  <meta name="{{ name }}" content="{{ content }}" />
{% endfor %}
{% endblock metatags %}


{% block content %}
<div class='row error-post-detail-row'>
  <div class='col-md-12'>
    <h1 class="text-danger">{{ errorpost.exception_type }} <span class="small">{{ errorpost.error_message }}</span></h1>
    <h3>Raised by: {{ errorpost.raised_by }}</h3>
    <pre><code>{{ errorpost.sanitized_traceback }}</code></pre>
  </div>

  <div class='col-md-12'>
  <h2>How to fix</h2>
  {% for answer in errorpost.answers.all %}
    {{ answer.message|markdown }}
  {% endfor %}
  </div>
</div>
{% endblock content %}
