{% extends 'base.html' %}

{% load widget_tweaks %}

{% block metatags %}
{% for name, content in metatags.items %}
  <meta name="{{ name }}" content="{{ content }}" />
{% endfor %}
{% endblock metatags %}


{% block search %}

<form class="navbar-form navbar-left pull-left" role="search" action="" method="get">
    <div class="form-group">
        {{ filter.form.exception_type|add_class:'text form-control'|attr:'placeholder:Search' }}
    </div>
    <button class="btn btn-primary" type="submit" >Fix it!</button>
</form>
{% endblock search %}

{% block content %}

<div class="row error-post-list-row">
  <div class="col-md-12">
    <ul class="list-group" itemscope itemtype="http://schema.org/ItemList">
      {% for error_post in errorpost_list %}
        <a href="{% url 'error_posts:detail' error_post.pk %}" class="list-group-item">
          <h4 class="list-group-item-heading">{{ error_post.exception_type }}</h4>
          <p class="list-group-item-text">{{ error_post.error_message }}</p>
        </a>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock content %}
