{% extends 'base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block metatags %}
  {% for name, content in metatags.items %}
    <meta name="{{ name }}" content="{{ content }}" />
  {% endfor %}
{% endblock metatags %}

{% block js %}
  <script type="text/javascript" src="{% static 'error_posts/js/widgets.js' %}"></script>
{% endblock %}

{% block search %}
{% endblock search %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <p class="lead"><b>Fix my Django</b> shows common Django exceptions and how to fix them. <br>Use the filters below to find the error you're having.</p>
  </div>
  <div class="col-md-12">
    <form action="" method="get" class="list-filter-form form-inline">
      <div class="form-group">
        <label for="exception_type">Exception type:</label>
        {% render_field filter.form.exception_type class+='form-control' %}
      </div>
      <div class="form-group">
        <label for="exception_type">Message:</label>
        {% render_field filter.form.search class+='text form-control' placeholder="ex: value too long" %}
      </div>
      <button class="btn btn-primary" type="submit" >Fix it!</button>
    </form>
  </div>
</div>
<div class="row error-post-list-row">
  <div class="col-md-12">
    <ul class="list-group" itemscope itemtype="http://schema.org/ItemList">
      {% for error_post in errorpost_list %}
        <a href="{% url 'error_posts:detail' error_post.pk %}" class="list-group-item">
          <h4 class="list-group-item-heading">{{ error_post.exception_type }}</h4>
          <p class="list-group-item-text">{{ error_post.error_message }}</p>
        </a>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock content %}
