{% extends 'base.html' %}

{% load widget_tweaks %}

{% block metatags %}
{% for name, content in metatags.items %}
  <meta name="{{ name }}" content="{{ content }}" />
{% endfor %}
{% endblock metatags %}


{% block search %}

<form class="navbar-form navbar-left pull-left" role="search" action="" method="get">
    <div class="form-group">
        {{ filter.form.exception_type|add_class:'text form-control'|attr:'placeholder:Search' }}
    </div>
    <button class="btn btn-primary" type="submit" >Fix it!</button>
</form>
{% endblock search %}

{% block content %}

<div class="row">
  <div itemscope itemtype="http://schema.org/ItemList" class="col-md-12" >
    {% for error_post in errorpost_list %}
        <a href="{% url 'error_posts:detail' error_post.pk %}">
          <h2 itemprop="name"> {{ error_post.exception_type }} - </h2>
          <h2 itemprop="description">{{ error_post.error_message }}</h2>
        </a>
    {% endfor %}
  </div>
</div>

{% endblock content %}
