{% extends 'base.html' %}

{% load widget_tweaks %}

{% block search %}
<form class="navbar-form navbar-left pull-left" role="search" action="" method="get">
    <div class="form-group">
        {{ filter.form.exception_type|add_class:'text form-control'|attr:'placeholder:Search' }}
    </div>
    <button class="btn btn-primary" type="submit" >Fix it!</button>
</form>
{% endblock search %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="accordion" id="accordion2">
    {% for exception_type, errors in errors_filter.items %}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-{{ exception_type }}">
              <h1> {{ exception_type }} </h1>
            </a>
          </div>
          <div id="collapse-{{ exception_type }}" class="accordion-body collapse">
            {% for error in errors %}
              <div class="accordion-inner">
                <a href="{% url 'errors:detail' error.pk %}">{{ error.error_message }}</a>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}