$icon-font-path: "../bootstrap-sass-official/assets/fonts/bootstrap/";

$django-light-green: #C9F0DD;
$django-green: #44B78B;
$django-dark-green: #0C4B33;
$nav-link-hover-bg: transparent;
$nav-tabs-active-link-hover-bg: transparent;
$navbar-height: 60px;
$navbar-padding-vertical: 20px;
$navbar-default-bg: $django-dark-green;
$navbar-default-brand-color: white;
$navbar-default-brand-hover-color: $django-green;
$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: $django-light-green;
$navbar-default-link-actie-color: $django-light-green;
$navbar-default-toggle-border-color: white;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: white;

@import "sass/bootswatch-lumen/_variables.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "sass/bootswatch-lumen/_bootswatch.scss";
@import "select2-bootstrap-theme/src/select2-bootstrap.scss";

$form-control-default-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .075);
.select2-container--bootstrap {  // Fix for select2 to match bootswatch theme
  .select2-selection {
    @include bootstrap-input-defaults;
  }
}

.navbar {
  border-width: 0 0 4px 0;

  .navbar-brand {
    padding-top: 15px;

    .fa-magic {
      font-size: 32px;
      color: #44B78B;
      display: inline-block;
      vertical-align: middle;
      padding-right: 6px;
    }
  }
}

.content-container {
  margin-top: $navbar-height + 20px;
}

.list-filter-form {
  .select2-container--bootstrap {
    display: inline-block;
  }

  .form-group:not(:first-child) {
    margin-left: 10px;
  }
}

.error-post-list-row {
  margin-top: 10px;

  a.list-group-item {
    .list-group-item-heading {
      color: $brand-danger;
    }
  }
}

.error-post-detail-row {
  .raised-by-wrapper {
    margin-top: 0;

    h2 {
      display: inline;
    }
  }
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #767676;
  text-align: center;
  border-top: 1px solid #e5e5e5;

  .bs-docs-social {
    margin-bottom: 20px;
    text-align: center;
  }

  .bs-docs-social-buttons {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      display: inline-block;
      padding: 5px 8px;
      line-height: 1;

      .github-btn {
        overflow: hidden;
        border: 0;
      }
    }
  }

  p {
    margin-bottom: 0;
  }
}
