from decouple import config

import dj_database_url

from .base import * # noqa


LOCAL = True
DEBUG = True

SECRET_KEY = 'secrete'

ALLOWED_HOSTS = '*'

DATABASES = {
    'default': config('DATABASE_URL',
                      default='postgresql://localhost:5432/fixmydjango',
                      cast=dj_database_url.parse),
}


INSTALLED_APPS += ('naomi', 'fixmydjango')

EMAIL_BACKEND = 'naomi.mail.backends.naomi.NaomiBackend'
EMAIL_FILE_PATH = base_dir_join('tmp_email')

STATIC_URL = '/static/'
MEDIA_URL = '/media/'

REST_FRAMEWORK['DEFAULT_RENDERER_CLASSES'] = (
    'rest_framework.renderers.BrowsableAPIRenderer',
    'rest_framework.renderers.JSONRenderer',
)

FIX_MY_DJANGO_ADMIN_MODE = True
LOG_REQUESTS = False

RECAPTCHA_KEY = config('RECAPTCHA_KEY', default='')
RECAPTCHA_SECRET_KEY = config('RECAPTCHA_SECRET_KEY', default='')
BOWER_PATH = base_dir_join('node_modules/bower/bin/bower')
